@import 'src/styles/variables/colors';
@import 'src/styles/variables/breakpoints';
@import 'src/styles/variables/bg-effect';

.tabs {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: $white;

  @include breakpoint($md) {
    width: 355px;
    padding: 24px;
    border-radius: 0 32px 32px 0;
    box-shadow: $box-shadow2;
  }

  @include breakpoint($xl2) {
    overflow-y: inherit;
    border-radius: 32px;
  }

  &_box {
    display: none;
    width: 100%;

    &___active {
      display: flex;
    }
  }

  &_button {
    display: none;
    height: 56px;
    margin-bottom: 24px;
    padding: 5px;
    border-radius: 70px;
    background: $blue_300;

    button {
      display: none;
      width: 100%;
      border: none;
      border-radius: 70px;
      background-color: transparent;
      font-size: 14px;
      line-height: 20px;

      &.tabs_button___active {
        background: $white;
        box-shadow: $box-shadow6;
      }
    }
  }
}
