{
  "plugins": ["stylelint-order", "stylelint-scss"],
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "ignoreFiles": ["src/legacy/**/*.scss"],
  "rules": {
    "at-rule-name-space-after": "always-single-line",
    "at-rule-no-unknown": null,
    "color-hex-case": "lower",
    "color-named": "never",
    "custom-property-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "declaration-no-important": true,
    "number-max-precision": 4,
    "order/order": [
      "custom-properties",
      "declarations",
      "at-rules",
      {
        "type": "rule",
        "selector": "^&::-?\\w"
      },
      {
        "type": "rule",
        "selector": "^&:-?\\w"
      },
      {
        "type": "rule",
        "selector": "^&_"
      },
      {
        "type": "rule",
        "selector": "^."
      },
      "rules"
    ],
    "order/properties-order": [
      [
        "content",
        "position",
        "inset",
        "inset-block",
        "inset-inline",
        "top",
        "inset-block-start",
        "right",
        "inset-inline-end",
        "bottom",
        "inset-block-end",
        "left",
        "inset-inline-start",
        "z-index",
        "display",
        "vertical-align",
        "flex",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "flex-direction",
        "flex-flow",
        "flex-wrap",
        "grid",
        "grid-area",
        "grid-template",
        "grid-template-areas",
        "grid-template-rows",
        "grid-template-columns",
        "grid-row",
        "grid-row-start",
        "grid-row-end",
        "grid-column",
        "grid-column-start",
        "grid-column-end",
        "grid-auto-rows",
        "grid-auto-columns",
        "grid-auto-flow",
        "grid-gap",
        "grid-row-gap",
        "grid-column-gap",
        "gap",
        "row-gap",
        "column-gap",
        "align-content",
        "align-items",
        "align-self",
        "justify-content",
        "justify-items",
        "justify-self",
        "order",
        "float",
        "clear",
        "object-fit",
        "overflow",
        "overflow-x",
        "overflow-y",
        "overflow-scrolling",
        "clip",
        "box-sizing",
        "width",
        "min-width",
        "max-width",
        "inline-size",
        "min-inline-size",
        "max-inline-size",
        "height",
        "min-height",
        "max-height",
        "block-size",
        "min-block-size",
        "max-block-size",
        "margin",
        "margin-block",
        "margin-inline",
        "margin-top",
        "margin-block-start",
        "margin-right",
        "margin-inline-end",
        "margin-bottom",
        "margin-block-end",
        "margin-left",
        "margin-inline-start",
        "padding",
        "padding-block",
        "padding-inline",
        "padding-top",
        "padding-block-start",
        "padding-right",
        "padding-inline-end",
        "padding-bottom",
        "padding-block-end",
        "padding-left",
        "padding-inline-start",
        "border",
        "border-spacing",
        "border-collapse",
        "border-width",
        "border-style",
        "border-color",
        "border-top",
        "border-block-start",
        "border-top-width",
        "border-block-start-width",
        "border-top-style",
        "border-block-start-style",
        "border-top-color",
        "border-block-start-color",
        "border-right",
        "border-inline-end",
        "border-right-width",
        "border-inline-end-width",
        "border-right-style",
        "border-inline-end-style",
        "border-right-color",
        "border-inline-end-color",
        "border-bottom",
        "border-block-end",
        "border-bottom-width",
        "border-block-end-width",
        "border-bottom-style",
        "border-block-end-style",
        "border-bottom-color",
        "border-block-end-color",
        "border-left",
        "border-inline-start",
        "border-left-width",
        "border-inline-start-width",
        "border-left-style",
        "border-inline-start-style",
        "border-left-color",
        "border-inline-start-color",
        "border-radius",
        "border-top-left-radius",
        "border-start-start-radius",
        "border-top-right-radius",
        "border-start-end-radius",
        "border-bottom-right-radius",
        "border-end-end-radius",
        "border-bottom-left-radius",
        "border-end-start-radius",
        "border-image",
        "border-image-source",
        "border-image-slice",
        "border-image-width",
        "border-image-outset",
        "border-image-repeat",
        "border-top-image",
        "border-right-image",
        "border-bottom-image",
        "border-left-image",
        "border-corner-image",
        "border-top-left-image",
        "border-top-right-image",
        "border-bottom-right-image",
        "border-bottom-left-image",
        "background",
        "background-color",
        "background-image",
        "background-attachment",
        "background-position",
        "background-position-x",
        "background-position-y",
        "background-clip",
        "background-origin",
        "background-size",
        "background-repeat",
        "color",
        "box-decoration-break",
        "box-shadow",
        "outline",
        "outline-width",
        "outline-style",
        "outline-color",
        "outline-offset",
        "table-layout",
        "caption-side",
        "empty-cells",
        "list-style",
        "list-style-position",
        "list-style-type",
        "list-style-image",
        "font",
        "font-weight",
        "font-style",
        "font-variant",
        "font-size-adjust",
        "font-stretch",
        "font-size",
        "font-family",
        "src",
        "line-height",
        "letter-spacing",
        "quotes",
        "counter-increment",
        "counter-reset",
        "-ms-writing-mode",
        "text-align",
        "text-align-last",
        "text-decoration",
        "text-emphasis",
        "text-emphasis-position",
        "text-emphasis-style",
        "text-emphasis-color",
        "text-indent",
        "text-justify",
        "text-outline",
        "text-transform",
        "text-wrap",
        "text-overflow",
        "text-overflow-ellipsis",
        "text-overflow-mode",
        "text-shadow",
        "white-space",
        "word-spacing",
        "word-wrap",
        "word-break",
        "overflow-wrap",
        "tab-size",
        "hyphens",
        "interpolation-mode",
        "opacity",
        "visibility",
        "filter",
        "resize",
        "cursor",
        "pointer-events",
        "user-select",
        "unicode-bidi",
        "direction",
        "columns",
        "column-span",
        "column-width",
        "column-count",
        "column-fill",
        "column-gap",
        "column-rule",
        "column-rule-width",
        "column-rule-style",
        "column-rule-color",
        "break-before",
        "break-inside",
        "break-after",
        "page-break-before",
        "page-break-inside",
        "page-break-after",
        "orphans",
        "widows",
        "zoom",
        "max-zoom",
        "min-zoom",
        "user-zoom",
        "orientation",
        "fill",
        "stroke",
        "transition",
        "transition-delay",
        "transition-timing-function",
        "transition-duration",
        "transition-property",
        "transform",
        "transform-origin",
        "animation",
        "animation-name",
        "animation-duration",
        "animation-play-state",
        "animation-timing-function",
        "animation-delay",
        "animation-iteration-count",
        "animation-direction",
        "animation-fill-mode"
      ],
      {
        "unspecified": "bottom"
      }
    ],
    "property-no-vendor-prefix": [
      true,
      { "ignoreProperties": ["text-size-adjust", "box-orient", "line-clamp"] }
    ],
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-pattern": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }],
    "unit-allowed-list": ["%", "px", "em", "rem", "ex", "fr", "s", "ms", "deg", "vh", "vw"],
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": [true, { "ignoreValues": ["box"] }]
  }
}
