[defaults]
inventory = inventory.ini
roles_path = deployment/roles
remote_user = deployer
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = True
system_warnings = True
stdout_callback = debug
interpreter_python = python3
callback_whitelist = profile_tasks

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ForwardAgent=yes
control_path = /tmp/%%h
pipelining = True
scp_if_ssh = True
retries = 2
