$white: #fff;
$black: #000;
$dark_100: #11142d;
$dark_300: #252846;
$dark_400: #888993;
$dark_500: #d4d5d9;
$dark_600: #f2f3f4;
$blue_100: #4895eb;
$blue_200: #e3f5fb;
$blue_300: #f2fafc;
$blue_400: #3da5d6;
$pink1: #fef0ec;
$gray1: #808191;
$gray2: #b2b3bd;
$gray3: #e9eef4;
$gray4: #80919a;
$color1: #f9fbff;
$color2: #eef8fb;
$color3: #f3faf5;
$border: #e3e6ec;
$border1: #f2f3f4;
$border3: #d4d5d9;
$border4: #c2d4dd;
$red_100: #eb5769;
