@import 'src/styles/variables/breakpoints';
@import 'src/styles/variables/colors';

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

input {
  box-shadow: none;
  outline: none;
  -webkit-appearance: none !important;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield !important;
}

p {
  margin: 0;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 0;
  outline: none;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}
picture {
  width: 100%;
}
.formInput {
  position: static !important;
  width: 100%;
  input {
    position: static !important;
    box-sizing: border-box;
    width: 230px;
    height: 56px;
    padding: 18px 22px;
    border: 2px solid transparent;
    border-radius: 16px;
    background: rgba(228, 228, 228, 0.3);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    transition: all 0.2s;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    &:focus {
      border: 2px solid rgba(228, 228, 228, 0.3);
      background: #fff;
    }
  }
}
.formTextarea {
  width: 100%;
  textarea {
    padding: 18px 22px;
    border: 2px solid transparent;
    border-radius: 16px;
    background: rgba(228, 228, 228, 0.3);
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    transition: all 0.2s;
    &:focus {
      border: 2px solid rgba(228, 228, 228, 0.3);
      background: #fff;
    }
  }
}

.MuiInputBase-multiline {
  padding: 0 !important;
  border-radius: 16px !important;
}

.MuiPaper-rounded {
  margin-top: 4px;
  border-radius: 24px !important;

  @media screen and (min-width: $md) {
    margin-top: 8px;
  }
}
.MuiInput-underline {
  &::after {
    display: none !important;
  }
  &::before {
    display: none !important;
  }
}
.dark-button {
  width: 100%;
  padding: 18px 0;
  border: none;
  border-radius: 16px;
  background: #11142d;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    @media screen and (min-width: 767px) {
      background: #6c5dd3;
    }
  }
  &:active {
    @media screen and (max-width: 767px) {
      background: #6c5dd3;
    }
  }
}
.light-button {
  width: 100%;
  margin: 24px 0 0 0;
  padding: 18px 0;
  border: 2px solid #e3e6ec;
  border-radius: 16px;
  background: #e3e6ec;
  color: #11142d;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  &:hover {
    @media screen and (min-width: 767px) {
      border: 2px solid #1b1d21;
      background: #1b1d21 !important;
      color: #fff;
    }
  }
  &:active {
    @media screen and (max-width: 767px) {
      border: 2px solid #1b1d21;
      background: #1b1d21 !important;
      color: #fff;
    }
  }
}
.d-none {
  display: none !important;
}

.modal-open {
  overflow: hidden;
}

body.scroll-disabled {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

body.hidden-all-menu {
  .catalog-menu {
    height: 0 !important;
    padding: 0 12px 0 !important;
    opacity: 0 !important;
  }
}

.formSelect {
  border-radius: 16px !important;
  background-color: rgba(228, 228, 228, 0.3) !important;
  color: #b2b3bd;
}
.formError {
  display: none;
}
.helperBlock {
  padding: 3px;
}
label.error {
  .helperBlock {
    border-radius: 28px;
    background-color: #eb5769;
    .formInput,
    .loginInput {
      border-radius: 28px;
      background-color: #fff;
    }
    .formTextarea {
      textarea {
        background-color: #fff;
      }
    }
    .policySelect {
      border-radius: 16px;
      background-color: #fff !important;
    }
    .formError {
      display: block;
      margin: 2px 0 0 !important;
      padding: 0 0 1px 10px;
      color: #fff !important;
      font-weight: 500;
      font-size: 10px !important;
      line-height: 12px !important;
      text-align: left !important;
    }
  }
}
.leadForm--unlogged,
.leadForm--logged {
  position: relative;
  display: grid;
  grid-template-areas:
    'title image'
    'form image'
    'text image';
  grid-template-columns: 1fr 548px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 0 0 0 80px;
  border-radius: 24px 35px 35px 24px;
  background-color: #6c5dd3;
  @media (max-width: 767px) and (min-width: 415px) {
    margin: 0 36px;
  }
}
.leadForm--unlogged {
  @media screen and (max-width: 1439px) {
    grid-template-areas:
      'title title'
      'form image'
      'text image';
    padding: 40px;
    border-radius: 24px;
  }
  @media screen and (max-width: 991px) {
    grid-template-areas:
      'title title'
      'form image'
      'text text';
    grid-template-columns: 1fr 343px;
    padding: 32px 32px 24px 32px;
  }
}
.leadForm--logged {
  @media screen and (max-width: 1439px) {
    grid-template-areas:
      'title image'
      'form image'
      'text image';
    padding: 40px;
    border-radius: 24px;
  }
  @media screen and (max-width: 991px) {
    grid-template-areas:
      'title image'
      'form image'
      'text text';
    grid-template-columns: 1fr 343px;
    padding: 32px 32px 24px;
  }
  .leadTitle {
    @media screen and (min-width: 768px) {
      align-self: center;
    }
    @media (max-width: 1439px) and (min-width: 768px) {
      padding: 24px 5px 0 0 !important;
    }
  }
  & > form {
    @media screen and (min-width: 768px) {
      padding: 16px 0 !important;
    }
  }
  h1 {
    @media screen and (max-width: 1439px) and (min-width: 992px) {
      margin: 0 0 8px 0;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: -1px;
    }
  }
}
.mainPage {
  .breadCrumbs {
    display: none;
  }
  .leadForm--unlogged,
  .leadForm--logged {
    margin: 0 0 80px 0;
    background-color: #6c5dd3;
    @media screen and (max-width: 1439px) {
      margin: 0 0 60px 0;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin: 0 0 40px 0;
    }
    @media screen and (max-width: 359px) {
      margin: 0 0 40px 0;
    }
  }
}
.alternativePage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #23b9cc;
    &::after {
      background: #23b9cc;
      opacity: 0.5;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .quantifiableInner {
    h3 {
      color: #23b9cc;
    }
  }
  .how-it-works_stepsInner {
    @media screen and (max-width: 991px) {
      margin: 0 0 8px 0;
    }
    @media screen and (max-width: 767px) {
      margin: 0 0 24px 0;
    }
    @media (max-width: 767px) and (min-width: 415px) {
      margin: 0 36px 24px;
    }
  }
  .how-it-works_content {
    background: #23b9cc;
  }
  .redemptionBlockColor {
    border-radius: 24px;
    background-color: #23b9cc;
    color: #fff;
    .lineContent {
      color: #fff !important;
    }
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #23b9cc;
    }
  }
  .entryForm_aside_picture {
    background-color: #23b9cc;
  }
}
.buyoutPage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #69a96d;
    @media screen and (max-width: 991px) {
      margin: 0 auto 40px;
    }
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
    &::after {
      background: #69a96d;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .mainpageNotification {
    align-items: center;
    h4 {
      display: none;
    }
  }
  .quantifiableInner {
    h3 {
      color: #69a96d;
    }
  }
  .how-it-works_content {
    background: #69a96d;
  }
  .redemptionBlockColor {
    border-radius: 24px;
    background-color: #69a96d;
    color: #fff;
    .lineContent {
      color: #fff !important;
    }
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #69a96d;
    }
  }
  .entryForm_aside_picture {
    background-color: #69a96d;
  }
}
.buyoutNoDiscountPage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #7b9c76;
    @media screen and (max-width: 991px) {
      margin: 0 auto 40px;
    }
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
    &::after {
      background: #7b9c76;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .mainpageNotification {
    align-items: center;
    h4 {
      display: none;
    }
  }
  .quantifiableInner {
    h3 {
      color: #7b9c76;
    }
  }
  .how-it-works_content {
    background: #7b9c76;
  }
  .redemptionBlockColor {
    border-radius: 24px;
    background-color: #7b9c76;
    color: #fff;
    .lineContent {
      color: #fff !important;
    }
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #7b9c76;
    }
  }
  .entryForm_aside_picture {
    background-color: #7b9c76;
  }
}
.aboutServicePage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #5f75ee;
    &::after {
      background: #5f75ee;
      opacity: 0.5;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .crossProductsItem {
    margin: 0 0 32px;
    @media screen and (max-width: 1439px) {
      margin: 0 8px 16px;
    }
    @media (max-width: 767px) and (min-width: 415px) {
      margin: 0 36px 16px;
    }
  }
  .redemptionBlockColor {
    border-radius: 24px;
    background-color: #5f75ee;
    color: #fff;
    .lineContent {
      color: #fff !important;
      small {
        color: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }
  .mainpageBuy_inner {
    @media screen and (max-width: 1439px) {
      margin: 16px auto 76px;
    }
    @media screen and (max-width: 991px) {
      margin: 8px auto 60px;
    }
    @media screen and (max-width: 767px) {
      margin: 0;
    }
    @media (max-width: 767px) and (min-width: 415px) {
      margin: 0 36px;
    }
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #5f75ee;
    }
  }
}
.subscriptionPage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #489ace;
    &::after {
      background: #489ace;
      opacity: 0.5;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .quantifiableInner {
    margin: 0 0 32px 0;
    @media screen and (max-width: 767px) {
      margin: 0 0 24px 0;
    }
    @media (max-width: 767px) and (min-width: 415px) {
      margin: 0 36px 24px;
    }
    h3 {
      color: #489ace;
    }
  }
  .how-it-works_stepsInner {
    @media screen and (max-width: 991px) {
      margin: 0 0 8px 0;
    }
    @media screen and (max-width: 767px) {
      margin: 0 0 24px 0;
    }
    @media (max-width: 767px) and (min-width: 415px) {
      margin: 0 36px 24px;
    }
  }
  .how-it-works_content {
    background: #489ace;
  }
  .redemptionBlockColor {
    border-radius: 24px;
    background-color: #489ace;
    color: #fff;
    .lineContent {
      color: #fff !important;
      small {
        color: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }
  .mainpageNotification {
    align-items: center;
    h4 {
      display: none;
    }
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #489ace;
    }
  }
  .entryForm_aside_picture {
    background-color: #489ace;
  }
}
.tradeinPage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #5f75ee;
    &::after {
      background: #6c5dd3;
      opacity: 0.5;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .quantifiableInner {
    margin: 0 0 130px 0;
    @media screen and (max-width: 1439px) {
      margin: 0 0 76px 0;
    }
    @media screen and (max-width: 991px) {
      margin: 0 0 72px 0;
    }
    @media (max-width: 767px) and (min-width: 415px) {
      margin: 0 36px 16px;
    }
    @media (max-width: 414px) {
      margin: 0 0 16px 0;
    }
    h3 {
      color: #5f75ee;
    }
  }
  .how-it-works_content {
    background: #5f75ee;
  }
  .redemptionBlockColor {
    border-radius: 24px;
    background-color: #5f75ee;
    color: #fff;
    .lineContent {
      color: #fff !important;
    }
  }
  .mainpageNotification {
    align-items: center;
    h4 {
      display: none;
    }
    h5 {
      margin: 0;
    }
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #5f75ee;
    }
  }
  .entryForm_aside_picture {
    background-color: #5f75ee;
  }
}
.termsLegalPage,
.paymentLegalPage,
.personalLegalPage,
.privacyLegalPage,
.cookiesLegalPage,
.subscriptionOfferPage,
.selectionOfferPage,
.microservicesOfferPage,
.buyoutNoDiscountOfferPage {
  .leadForm--unlogged,
  .leadForm--logged {
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
  }
}
.freeScoringPage {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #ed9456;
    &::after {
      background: #ed9456;
      opacity: 0.5;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
    }
    .leadLegal {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .quantifiableInner {
    align-items: center;
    h3 {
      color: #ed9456;
    }
  }
  .how-it-works_content {
    background: #ed9456;
  }
  .entryForm_article {
    &::before,
    &::after {
      background-color: #ed9456;
    }
  }
  .entryForm_aside_picture {
    background-color: #ed9456;
  }
}
.catalogPage {
  overflow-x: initial !important;
  .breadCrumbs {
    position: static;
    margin: 0 0 16px 0;
    li {
      background: #e3e6ec;
      &:last-child {
        a {
          color: #b2b3bd;
        }
      }
      a {
        color: #11142d;
      }
    }
  }
}

.rpv-thumbnail-item-selected {
  background-color: #478cff !important;
}

.rpv-zoom-popover-target {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.rpv-core-inner-page {
  width: min-content;
  margin: auto;

  div {
    &:first-child {
      width: 100%;
      max-width: 100%;
    }
    .rpv-core-page-layer {
      max-width: 100%;
    }
  }
}

.Mui-focused {
  .policySelect {
    border: 2px solid #5f75ee !important;
    border-radius: 16px !important;
    background-color: #fff !important;
  }
  .policySelectIcon {
    top: 6px;
    right: 24px;
    transform: rotate(180deg);
  }
}
.h {
  &--locationShown {
    @media screen and (max-width: 767px) {
      display: none !important;
    }
  }
  &--resetBtn {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-transform: none;
  }
  &--hiddenInput {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
  }
  &--activeTab {
    background-color: #6c5dd3 !important;
    span {
      color: white !important;
    }
  }
}
.failedBlock {
  text-align: center;
  &_title {
    color: #ff754c;
    font-weight: 700;
    font-size: 24px;
    font-family: 'TTNorms', sans-serif;
    line-height: 32px;
  }
  &_text {
    margin: 16px 0 0 0;
    color: #11142d;
    font-size: 16px;
    line-height: 24px;
  }
  &_btn {
    width: 100%;
    height: 56px;
    margin: 44px 0 0 0;
    border: none;
    border-radius: 16px;
    background-color: #11142d;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
.successBlock {
  text-align: center;
  &_title {
    color: #a5cea1;
    font-weight: 700;
    font-size: 24px;
    font-family: 'TTNorms', sans-serif;
    line-height: 32px;
  }
  &_text {
    margin: 16px 0 0 0;
    color: #11142d;
    font-size: 16px;
    line-height: 24px;
  }
}

/* Preloader */
.preloaderBlock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  img {
    animation-name: rotate;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cookie-container {
  position: fixed;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 80px);
  max-width: 1360px;
  margin-bottom: 16px;
  padding: 0 24px;
  border-radius: 16px;
  background-color: #e3e6ec;
  transform: translate(-50%, 0);
  .cookie-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 18px 0;
    padding: 0;
    border: none;
    border-radius: 16px;
    background: #fff;
    background-image: url('/images/new-design/icons/i-remove.svg');
    background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
  }
  .cookie-content {
    display: flex;
    align-items: flex-end;
    color: #808191;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    p {
      margin-right: 10px;
      text-align: left;
    }
    a {
      margin-left: 6px;
      color: blue;
      cursor: pointer;
    }
  }
}
.contractOfferSubscription {
  .leadForm--unlogged,
  .leadForm--logged {
    background-color: #3f8cff;
    &::after {
      background: #3f8cff;
      opacity: 0.5;
    }
    .leadTitle {
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 30px 0 32px 0;
      }
      h1 {
        margin: 0;
      }
      p {
        display: none;
      }
    }
  }
}

.redemptionBlockColor {
  max-width: 316px;
  @media screen and (max-width: 1439px) {
    max-width: 223px;
  }
  @media screen and (max-width: 991px) {
    max-width: 219px;
  }
}

.ymaps-2-1-78-controls-pane {
  position: initial !important;
  height: 100%;
}
.ymaps-2-1-78-controls__control {
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  left: auto !important;
  z-index: 9999;
  transform: translate(0, -50%);
  .ymaps-2-1-78-zoom {
    height: 0 !important;
  }
  .ymaps-2-1-78-zoom__scale {
    display: none !important;
  }
}

.ymaps-2-1-78-map-copyrights-promo,
.ymaps-2-1-78-copyrights-pane {
  display: none !important;
}

.ymaps-2-1-78-balloon__close {
  display: none;
}

.ymaps-2-1-78-balloon__content {
  margin: 0 !important;
  padding: 0 !important;
  /* stylelint-disable-next-line selector-type-no-unknown */
  ymaps {
    width: fit-content !important;
  }
}

.ymaps-2-1-78-balloon {
  top: -21px !important;
  left: -1px !important;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  box-shadow: none !important;
  .my-custom-balloon {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 30px;
    color: #11142d;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    img {
      position: absolute;
      top: 0;
      left: -20px;
      width: 40px;
      height: 40px;
    }
  }
  .ymaps-2-1-78-balloon__tail {
    display: none !important;
  }
}
.payment__notification {
  margin: 40px 0;
  padding: 30px;
  border-radius: 12px;
  background-color: #f0f4ff;
}
.payment-image__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 -20px;
}
.payment-image__list .image-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 104px;
  margin: 0 20px 20px 0;
  border: 1px solid #f0f4ff;
  border-radius: 12px;
}
.table-wrapper {
  overflow: scroll;
}

.hiddenAfter {
  &::after {
    height: 0;
    opacity: 0 !important;
  }
}

.notFoundPage {
  & > article {
    max-width: 100% !important;
  }
}

.complaintTextareaLabel .formTextarea {
  overflow: hidden;
  border-radius: 16px;
}

.no-radius {
  border-radius: 0 !important;
}

.MyIconContentLayout {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: fit-content;
  height: 24px;
  padding: 0 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgba(151, 165, 193, 0.2);
  white-space: nowrap;
  transform: translate(-50%, -35px);
  &.gradient {
    background: radial-gradient(
        129.92% 2107.64% at 0% 100%,
        #130e5a 0%,
        #6c5dd3 48.95%,
        #fe6385 100%
      ),
      #fff;
    color: #fff;
    font-weight: bold;
  }
  img {
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, 0);
  }
}

.MyIconContentLayoutCluster {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: fit-content;
  height: 24px;
  padding: 0 10px 0 3px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgba(151, 165, 193, 0.2);
  white-space: nowrap;
  transform: translate(calc(-50% + 15px), -19px);
  b {
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 5px;
    padding: 3px 6px;
    border-radius: 6px;
    background: #e3e6ec;
    font-weight: 100;
  }
  img {
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, 0);
  }
}
.form-control .MuiInputBase-adornedStart {
  display: flex !important;
  align-items: baseline !important;
}

.apartmentPage {
  overflow-x: initial !important;
  .breadCrumbs {
    position: static !important;
    li {
      background: #e3e6ec !important;
      a {
        color: #11142d !important;
      }
    }
  }
  & > section {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 1439px) {
      max-width: 944px;
    }
    @media screen and (max-width: 1023px) {
      max-width: 688px;
    }
    @media screen and (max-width: 767px) {
      max-width: 343px;
    }
    @media screen and (max-width: 359px) {
      max-width: 288px;
    }
  }
  .catalog-menu {
    .catalog-menu-btn {
      @media screen and (max-width: 767px) {
        width: calc(100% / 3);
      }
    }
  }
  .apartment_card_article__popup_wrap {
    position: relative;
    .apartment_card_article__popup {
      right: initial;
      left: 0;
    }
  }
  .catalog-menu--apartment-page {
    align-items: flex-start;
    height: auto;
    padding: 12px 12px 18px;
    @media screen and (max-width: 359px) {
      padding: 12px 16px;
    }
    .light-button {
      border-radius: 12px;
      background: #e3e6ec;
      color: #5f75ee;
    }
    a,
    button {
      margin: 0;
      border-radius: 12px;
    }
  }
}

.apartment-gallery {
  .light-button {
    background-color: #e3e6ec;
    color: #5f75ee;
  }
}

.is_greenColor {
  color: #7fba7a !important;
}
.is_orangeColor {
  color: #ff754c !important;
}
.is_blueColor {
  color: #3f8cff !important;
}
.is_absent {
  opacity: 0.5 !important;
  span {
    text-decoration: line-through !important;
  }
}
.is_promoColor {
  color: #ff754c;
}
.is_hiddenOnTablet {
  @media screen and (max-width: 991px) {
    display: none !important;
  }
}
.is_hiddenOnMobile {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}
.is_violetGradient {
  background: radial-gradient(83.5% 83.5% at 0 50%, #130e5a 0%, #6a5bd0 50.95%, #fe6385 100%),
    #c4c4c4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_error {
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #ff754c;
  }
  &_txt {
    position: relative;
    display: block;
    padding: 0 20px 2px;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.3em;
    @media screen and (max-width: 767px) {
      padding: 0 10px 2px;
    }
  }
  input {
    position: relative;
    border-color: $red_100 !important;
    background-color: #fff !important;
    color: $red_100 !important;
  }
  label {
    input:not(:checked) ~ span {
      color: #ff754c !important;
      &::before {
        border-color: #ff754c !important;
        background-color: #fff !important;
      }
    }
  }
  &.entryForm_content_article_search {
    border-color: $red_100;
    &::before {
      z-index: -1;
    }
    .custom_error_txt {
      padding: 2px 20px;
    }
  }
}

body > div[role='tooltip'] {
  z-index: 1;
  @media (min-width: 768px) {
    z-index: 1300;
  }
  @media screen and (max-width: 767px) {
    z-index: 22;
  }
}

.entryForm_content_description_closeMobileBtn {
  border: none;
  box-shadow: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media (max-width: 991px) and (min-width: 550px) and (max-height: 414px) {
    display: none;
  }
  @media (max-width: 568px) and (min-width: 550px) and (max-height: 320px) {
    display: none;
  }
}

.policy-aside {
  .MuiInputBase-root {
    width: 100% !important;
  }
}
.complaint-form {
  .MuiInputBase-root {
    width: 100% !important;
  }
}

.MuiCollapse-wrapper {
  max-height: 100%;
}
